#create_sec1{
    width: 100%;
    padding: 11vmax 2vmax 10.5vmax 2vmax;
    display: flex;
    justify-content: space-between;

}
#vertical {
    border-left: 3px solid var(--color-primary);
    height: 20vmax;
}
.create_div{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;

    padding: 1vmax;
    gap: 1vmax;
}
.create_div .crr1{
    font-size: 3vmax;
    font-weight: 600;
    color: var(--color-secondary);
}

.create_div .crr2{
    font-size: 1.1vmax;
    font-weight: 400;
}

.create_div .crr3{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 1vmax 0;
   
}

.crr3_link{
    width: 100%;
    height: 100%;
    font-size: 1.1vmax;
    font-weight: 600;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: .2vmax;
}
.crr3_link img{
    width: 15%;
}
