#home_sec1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 9vmax 1.5vmax 0 1.5vmax;
}

#cont_div {
    position: relative;
    width: 55%;
    height: 30vmax;
    overflow: hidden;
}

#cont_div #c1 {
    position: absolute;
    top: 3vmax;
    left: 2vmax;
    width: 18vmax;
    height: 18vmax;
    border-radius: 500px;
    background-color: var(--color-cir1);
}

#cont_div #c2 {
    position: absolute;
    top: 3vmax;
    right: 15vmax;
    width: 15vmax;
    height: 15vmax;
    border-radius: 500px;
    background-color: var(--color-cir2);
}

#cont_div #c3 {
    position: absolute;
    top: 13vmax;
    right: 3vmax;
    width: 13vmax;
    height: 13vmax;
    border-radius: 500px;
    background-color: var(--color-cir3);
}

#cont_div_main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    padding: 1vmax;
    gap: .5vmax;
}

.conttext {
    font-size: 2.8vmax;
    font-weight: 600;
    line-height: 3.6vmax;
}

.cont3 {
    padding: 1vmax 0;
    font-size: 1.5vmax;
    font-weight: 400;
}

#cont_btndiv {
    padding: 1vmax 0;
}

#cont_btndiv .clink {

    padding: .5vmax 2vmax;
    font-size: 1.2vmax;
    font-weight: 450;
    color: var(--color-bg);
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 20px;
    cursor: pointer;
    filter: drop-shadow(var(--color-gray) 0px 3px 1px);
}

#cont_btndiv .clink:hover {
    background-color: var(--color-bg);
    color: var(--color-primary);
    filter: drop-shadow(var(--color-gray) 0px 0px 0px);
    border: 1px solid var(--color-primary);
}

#pic_div {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

#pic_div img {
    width: 63%;
}


#home_sec2 {
    padding: 10vmax 0vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#home_sec2title {
    font-size: 3vmax;
    font-weight: 600;
    color: var(--color-title1);
}

#chars_div {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    align-items: baseline;
    padding: 2vmax 5vmax;
    row-gap: 3vmax;
}

.chardiv {
    width: 40vmax;
    height: fit-content;
    padding: .3vmax 0;
    display: flex;
    background-color: var(--color-chars);
    border-radius: 10px;

}


.chardiv .img_divUp {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.chardiv .img_divUp .img_div {
    width: 5.2vmax;
    height: 5.2vmax;
    background-color: var(--color-bg);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chardiv .contdiv {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.chardiv .contdiv .char_title {
    font-size: 1.2vmax;
    font-weight: 500;

}

.chardiv .contdiv .char_content {
    font-size: 1vmax;
    font-weight: 400;
}

#home_sec3 {
    width: 100%;
    height: fit-content;
    background-color: var(--color-ternary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 3vmax 2vmax;
    gap: 2vmax;
}

#home_sec3 #home_sec3title {
    font-size: 3vmax;
    font-weight: 600;
    color: var(--color-primary);
}

#home_sec3 #home_sec3cont {
    width: 80%;
    font-size: 1.3vmax;
    font-weight: 400;
    text-align: center;
}

#features_div {
    width: 100%;
    padding: 1vmax 3vmax;
    display: flex;
    justify-content: center;
    gap: 4vmax;

}

.featurediv {
    width: 38%;
    background-color: var(--color-bg);
    border-radius: 15px;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 1.5vmax;
    filter: drop-shadow(var(--color-gray) 0px 4px 2px);

}

.fl1 {
    display: flex;
    gap: 1vmax;
    justify-content: baseline;
    align-items: center;
    gap: 1vmax;
}

.fl1 .d1 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl1 .d1 img {
    width: 85%;
}

.fl1 .d2 {
    font-size: 1.6vmax;
    font-weight: 500;
}

.fl2 {
    font-size: 1.1vmax;
    font-weight: 400;
}

.fl3 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2.5vmax;
    padding: .5vmax 0;
}

.fl3 .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vmax;

}

.fl3 .btn .linktored {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2vmax;
    color: var(--color-primary);
}

.fl3 .btn .linktored:hover {
    color: var(--color-gray);

}

.fl3 .btn .linktored img {
    width: .8vmax;
}



#home_sec4 {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 3vmax 2vmax;
    gap: 2vmax;
}

#home_sec4 #home_sec4title {
    font-size: 3vmax;
    font-weight: 600;
    color: var(--color-title1);
}

#home_sec4 #hiw_div {
    width: 90%;
    height: 40rem;
    background-color: var(--color-secondary);
}


/* how it works code */
#home_sec5 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 8vmax 2vmax;
    gap: 0vmax;
}

#home_sec5 #home_sec5title {
    font-size: 4vmax;
    font-weight: 600;
    color: var(--color-title1);
}

#sce5contdiv {

    width: 50%;
    padding: 1vmax 3vmax;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    gap: 1vmax;
}

#sec5_imgdiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 4vmax;
}

#sec5_imgdiv img {
    width: 70%;
}

#home_sec5cont {
    font-size: 1.5vmax;
    font-weight: 400;
}

#redirects_div {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.redlink {
    font-size: 1.1vmax;
    font-weight: 400;
    width: 20vmax;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .5vmax;
    color: var(--color-primary);
}

.redlink img {
    width: 15%;
}

.redlink:hover {
    color: var(--color-gray);
}

#home_sec6 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 4vmax 2vmax;
    gap: 2vmax;
    background-color: var(--color-ternary);
}

#home_sec6 #home_sec6title {
    font-size: 4vmax;
    font-weight: 600;
    color: var(--color-title1);
}

#home_sec6title {
    width: 60%;
}

#ques {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmax;
}

.que_div {
    padding: .5vmax;
    width: 100%;
    background-color: var(--color-bg);
    border-radius: 10px;
    display: flex;
    gap: 1vmax;
    transition: all 1s;
}

.qdiv {
    padding: .5vmax 0;
    width: 100%;
    height: fit-content;
    font-size: 1.2vmax;
    font-weight: 400;
    display: flex;
    height: fit-content;
    flex-direction: column;
    /* align-items: baseline; */
    justify-content: center;
    line-height: 2.5vmax;
    align-items: baseline;
    /* background-color: rgb(33, 65, 65); */
}

.qimgdiv {
    padding: .7vmax;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    /* align-items: baseline; */
    border-radius: 500px;
    /* background-color: aqua; */

}

.qimgdiv button {
    background-color: transparent;
}

.qimgdiv img {
    width: 2.2vmax;
    /* background-color: aqua; */
}

.ansdiv {
    font-size: 1vmax;
    line-height: 1.5vmax;
}