#reg_section{
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100vh;

}
#reg_form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: var(--color-bg);
    padding: 6vmax 0 0 0;
}
#form_title{
    font-size: 2vmax;
    font-weight: 600;
}
#reg_form form{
    
    width: 80%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3vmax;
}
.inpts{
    width: 25vmax;
    border-radius: 15px;
}
.inpts p{
    padding: .3vmax 1vmax;
}
.inpts input{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 3vmax;
    border-radius: 15px;
    padding: 0 1vmax;
    font-size: 1.1vmax;
    font-weight: 400;
    border: 1px solid var(--color-gray);
    outline: none;
}
.inpts select{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 3vmax;
    border-radius: 15px;
    padding: 0 1vmax;
    font-size: 1.1vmax;
    font-weight: 400;
    border: 1px solid var(--color-gray);
    outline: none;
}
.inpts button{
    font-family: 'poppins',sans-serif;
    /* font-size: 1.2vmax;
    font-weight: 500; */
    width: 100%;
    height: 3vmax;
    border-radius: 15px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    cursor: pointer;
}
#reg_form .btn1 button{
    font-size: 1.2vmax;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    
}
#reg_form .btn1 .sgnlink{
    color: var(--color-secondary);
}
#reg_form .btn1 .sgnlink:hover{
    color: var(--color-gray);
}
#reg_form .btn1 #signupop{
    font-size: 1vmax;
    font-weight: 400;
}
#reg_form .btn2 button{
    font-size: 1vmax;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7vmax;
    border: 1px solid var(--color-gray);
    outline: none;
    background-color: var(--color-bg);
    color: var(--color-gray);
}   

#reg_form .btn2 img{
    width: 1.1vmax;
}
#reg_form .btn1 #signupop{
    padding-top: 1vmax;
    font-size: 1vmax;
    font-weight: 400;
}

#reg_imgdiv{
    width: 50%;
    background-image: url('../assets/LoginImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vmax;
}
#reg_imgdiv p{
    font-size: 4vmax;
    font-weight: 600;
}

#reg_imgdiv div{
    font-size: 4vmax;
    font-weight: 600;
    color: var(--color-bg);
}

.multi1{
    width: 62%;
    display: flex;
    justify-content: center;
    gap: 1vmax;
}
.multi1 .inpts select{
    width: 100%;
}

.multi2{
    width: 63%;
    display: flex;
    gap: 1vmax;
}
.multi2 .inp1 {
    width: 40%;
}
.multi2 .inp2 {
    width: 75%;
}
.tandcchk{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .5vmax;
    font-size: 1vmax;
    font-weight: 400;
  
}
.tandcchk input{
    size: 1vmax;
}
