#user_sec1{
    width: 100%;
    height: fit-content;
    background-color: var(--color-bg);
    display: flex;
    gap: 4vmax;
    padding: 8vmax 1vmax 3vmax 1vmax;
}

#user_panel{
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmax 1vmax;
    background-color: var(--color-bg);
    border-radius: 15px;
    filter:drop-shadow(var(--color-gray) 0rem 1px 3px);
}

#user_detail_div{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 1vmax;
    padding: 1vmax;
}
#user_imgdiv{
    width: 8vmax;
    height: 8vmax;
    border-radius: 500px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#user_imgdiv img{
    width: 55%;
}

#user_details_div #username{
    font-size: 1.4vmax;
    font-weight: 600;
}
#user_details_div #useremail{
    font-size: .9vmax;
    font-weight: 400;
    color: var(--color-gray);
}
#user_details_div #userphone{
    font-size: .9vmax;
    font-weight: 400;
    color: var(--color-gray);
}

#user_work_div{
    width: 20vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(211, 228, 243);
    padding: 1vmax;
    border-radius: 15px;
}

#user_work_div #r1{
    width: 100%;
    font-size: 1.3vmax;
    font-weight: 500;
}

#user_work_div #r2{
    width: 100%;
    display: flex;
    gap: 2vmax;
    justify-content: baseline;
    align-items: center;
}

#user_work_div #r2 #total_cnt{
    font-size: 3.5vmax;
    font-weight: 500;
    color: var(--color-primary);
}

#user_work_div #r2 #ips{
    font-size: 1.1vmax;
    font-weight: 500;
}

#user_work_div #r2 #wills{
    font-size: 1.1vmax;
    font-weight: 500;
}

#creat_and_verify_div{
    width: 35%;
    display: flex;
    gap: 4vmax;
    justify-content: center;
    align-items: center;
}

.aanv_div{
    height: 100%;
   width: 50%; 
   background-color: var(--color-ternary);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1vmax;
   justify-content: baseline;
   border-radius: 15px;
   padding: 1vmax;
   filter:drop-shadow(var(--color-gray) 0rem 3px 2px);
}

.aanv_imgdiv{
    width: 70%;
    display: flex;
    justify-content: center;
}

.aanv_imgdiv img{
    width: 100%;
}
.aanv_btndiv{
    width: 70%;
    height: 2.4vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
   
}
.aanv_btndiv .aanv_btn{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--color-bg);
    font-size: 1.1vmax;
    font-weight: 500;
}

#user_sec2{
    width: 100%;
    background-color: var(--color-ternary);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    padding: 2vmax 5vmax;
}

#user_sec2title{
   font-size: 2vmax;
   font-weight: 600;
}

#user_ips_div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2vmax 0;
    column-gap: 3vmax;
    row-gap: 2vmax;
}

.ip_div{
    padding: 2vmax 1.5vmax;
    background-color: var(--color-bg);
    border-radius: 15px;
    filter:drop-shadow(var(--color-gray) 0rem 2px 1px); 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: .7vmax;
}

.ip_div .ip_title{
    font-size: 1.3vmax;
    font-weight: 500;
}

.ip_div .ip_id{
    font-size: 1vmax;
    font-weight: 400;
    color: var(--color-gray);
}
.ip_vmore{
    width: 100%;
    display: flex;
    justify-content: baseline;
}
.ip_vmore .ipvlink{
    font-size: 1vmax;
    font-family: 'poppins',sans-serif;
    background: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .3vmax;
}

.ip_vmore .ipvlink img{
    width: 12%;
}

#noip_div{
    width: 100%;
    padding: 1vmax 0;
    font-size: 2vmax;
    font-weight: 400;
}