#verify_sec{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10vmax 0vmax 10.5vmax 0;
}
#verify_main_div{
    width: 60%;
    background-color: var(--color-ternary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vmax 1vmax;
    gap: 2vmax;
    border-radius: 20px;
}

#verify_main_div #verify_title{
    font-size: 2vmax;
    font-weight: 600;
    color: var(--color-secondary);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verify_main_div form{
    width: 60%;
    display: flex;
    gap: 1.8vmax;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

form #verify_id_div,form #verify_sub_div{
    width: 100%;
    height: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
form #verify_id_div input{
    font-family: 'poppins',sans-serif;
    font-size: 1.1vmax;
    font-weight: 400;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0 1vmax;
}

form #verify_sub_div button{
    font-family: 'poppins',sans-serif;
    font-size: 1.2vmax;
    font-weight: 500;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg);
    background-color: var(--color-primary);
    cursor: pointer;
}

form #verify_sub_div button:hover{

    color: var(--color-primary);
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
}

#valid_verify{
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: red;
    padding: 0 1vmax;
}